<h1>My tasks</h1>
<% @tasks.each do |task| %>
<div><%= link_to task.title, task_path(task.id) %> | <%= link_to "Supprimer", task_path(task.id),
  method: :delete,
  data: { confirm: "Are you sure?" } %>
</div>
<% end %>
<p>
  <%= link_to new_task_path do %>
  <div>Add a new task</div>
</p>
<% end %>
